In [1]:
import pandas as pd
import time
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

In [2]:
start_time = time.time()
df = pd.read_csv('C:/Users/PC/Desktop/2/pfa/Datasets/Credit Card Transactions Fraud Detection Dataset/fraudTrain.csv')
end_time = time.time()

print(f"Temps d'importation : {end_time - start_time} secondes")

Temps d'importation : 8.957849025726318 secondes

In [3]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
df.shape

(1296675, 23)

In [5]:
pd.options.display.float_format = '{:,.9f}'.format

# Print descriptive statistics of the DataFrame
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,"1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000","1,296,675.000000000"
mean,"648,337.000000000","417,192,042,079,726,656.000000000",70.351035456,"48,800.671097229",38.537621615,-90.226335379,"88,824.440562978","1,349,243,636.726122618",38.537338045,-90.226464799,0.005788652
std,"374,317.974488268","1,308,806,447,000,240,384.000000000",160.316038572,"26,893.222476486",5.075808439,13.759076946,"301,956.360688751","12,841,278.423359346",5.109788370,13.771090565,0.075862690
min,0.000000000,"60,416,207,185.000000000",1.000000000,"1,257.000000000",20.027100000,-165.672300000,23.000000000,"1,325,376,018.000000000",19.027785000,-166.671242000,0.000000000
25%,"324,168.500000000","180,042,946,491,150.000000000",9.650000000,"26,237.000000000",34.620500000,-96.798000000,743.000000000,"1,338,750,742.500000000",34.733572000,-96.897275500,0.000000000
50%,"648,337.000000000","3,521,417,320,836,166.000000000",47.520000000,"48,174.000000000",39.354300000,-87.476900000,"2,456.000000000","1,349,249,747.000000000",39.365680000,-87.438392000,0.000000000
75%,"972,505.500000000","4,642,255,475,285,942.000000000",83.140000000,"72,042.000000000",41.940400000,-80.158000000,"20,328.000000000","1,359,385,375.500000000",41.957164000,-80.236796500,0.000000000
max,"1,296,674.000000000","4,992,346,398,065,154,048.000000000","28,948.900000000","99,783.000000000",66.693300000,-67.950300000,"2,906,700.000000000","1,371,816,817.000000000",67.510267000,-66.950902000,1.000000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB